In [2]:
import pandas as pd
# GOOGLE_SHEET_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQq0095iOV4dn5McH5IgL4tfjBGLRpCS4XIw-TsZKXubWLyycCfbmnyWdDJRr73ctUMjv32DvKmvVbj/pub?output=csv'
# GOOGLE_SHEET_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQKADb-wnackdlDZwEF0mTpLPh7MpkI4YQV5gv1TYOzltjiGAXcj35GTb4ftP7yKN8mH74MWLPkSUlq/pub?output=csv'
GOOGLE_SHEET_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSWbwrsqF-c---4lfw0LZWymd-f8sy8sLYkXgzh0OyeGATWwrvv7V1Mq5BcApn7F_-WYKP1KXy5shKw/pub?output=csv'



# DATA_INPUT_PATH = '../data/input'

# DATA_OUTPUT_PATH = '../data/'

In [3]:
go_pass_schools = pd.read_csv(GOOGLE_SHEET_URL,
    usecols={'District','School','Address','City'})
go_pass_schools.columns = ["district","name","address","city"]

go_pass_schools = go_pass_schools.fillna('')
go_pass_schools.head()

,district,name,address,city
0,Centinela Valley,Hawthorne High,4859 West El Segundo Blvd.,Hawthorne
1,Centinela Valley,Lawndale High,14901 S. Inglewood Avenue,Lawndale
2,Centinela Valley,Leuzinger High,4118 West Rosecrans Ave.,Lawndale
3,Centinela Valley,R. K. Lloyde High,4951 Marine Ave.,Lawndale
4,Charter,Alliance Alice M. Baxter College-Ready High Sc...,"461 9th Street, San Pedro",San Pedro

### Source for schools data

https://www.cde.ca.gov/SchoolDirectory/ExportSelect?simpleSearch=N&address=&city=&counties=&districts=&cdscode=&charter=&magnet=&name=&nps=&search=2&zip=&yearround=&status=1%2C2&types=&order=1&multilingual=&qsc=3549&qdc=3549

July 2022

In [22]:
la_county_public_schools_data_source = "../data/la_county_public_schools.csv"

la_county_public_schools = pd.read_csv(la_county_public_schools_data_source,
    usecols={'StatusType','School','StreetAbr','District'},encoding='latin')
la_county_public_schools.columns = ["school_status","name","address","district"]

la_county_public_schools = la_county_public_schools.fillna('')
la_schools_df = la_county_public_schools
active_schools = la_schools_df[la_schools_df['school_status'] == 'Active']
la_schools_df

,school_status,name,address
0,Active,North Valley Military Institute College Prepar...,12105 Allegheny St.
1,Active,Jardin de la Infancia,"1400 S Broadway Los Angeles, CA 90015"
2,Active,Aspire Antonio Maria Lugo Academy,6100 Carmelita Ave.
3,Active,Aspire Ollin University Preparatory Academy,2540 East 58th St.
4,Active,Magnolia Science Academy 3,1254 East Helmick St.
...,...,...,...
2211,Active,138th Street,5403 West 138th St.
2212,Active,Juan Cabrillo Elementary,5309 West 135th St.
2213,Active,Richard Henry Dana Middle,5504 West 135th St.
2214,Active,Academia Avance Charter,115 North Avenue 53
2215,Active,Los Angeles College Prep Academy,625 Coleman Ave.